
QWidget {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #121517, stop:1 #141718);
        color:}

QPushButton {
    border: 1px solid #555555;
    border-radius: 2px;
    padding: 15px;
    color: #b2b2b2;
    font-size: 16px;
}

QPushButton#RecordButton {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #ff3a9a, stop:1 #ff7a8d);
}

QPushButton#PlayButton {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #13ff85, stop:1 #58e9a1);
}

QPushButton:hover {
    border: 1px solid #777777;
}

QPushButton:pressed {
    background-color: #444444;
}